# Настройки Джанго
SECRET_KEY=
DEBUG=

# Настройки postgres
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# Настройки SMS Aero
SMSAERO_API_KEY=
SMSAERO_EMAIL=
SMSAERO_SIGN=SMS Aero

# Адрес сервера кеширования
CACHE_ENABLED=True
LOCATION=